html,body{
	margin: 0;
	min-height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

body{
	background-color: #CEE1E8;
	
}

/*HEADER*/
h1{
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	/*font-family: 'Indie Flower', cursive;*/
	font-size: 4em;
}

nav{
	display: flex;
	justify-content: center;
}

nav li{
	display: inline-block;
	margin: 20px;
	padding: 20px;
	background-color: #2E2E2E;
	color: white;
}

nav a{
	text-decoration: none;
	color: white;
	height: 100%;
}


/*MAIN */
main{
	padding: 35px;
	display: grid;
	grid-gap: 25px;
	grid-template-areas: 
					"livre1 livre2"
					"livre3 livre4"
					"livre5	livre6"
					"livre7	livre8"
					"livre9	livre10";
					
	grid-template-columns: 1fr 1fr;
}

#grid-item1{
	grid-area: livre1;
}
#grid-item2{
	grid-area: livre2;
}
#grid-item3{
	grid-area: livre3;
}
#grid-item4{
	grid-area: livre4;
}
#grid-item5{
	grid-area: livre5;
}
#grid-item7{
	grid-area: livre6;
}
#grid-item7{
	grid-area: livre7;
}
#grid-item8{
	grid-area: livre8;
}
#grid-item9{
	grid-area: livre9;
}

.description{
	background-color: white;
	height: 100%;
	width: 100%;
	border-radius: 20px;
	
	display: flex;
	flex-direction: row;
	align-items: center;
}

.description img{
	width: 90px;
	height: 140px;
	margin: 10px;
	position: relative;
	left: 30px;

	box-shadow: 1px 1px 3px #888888;
}